.info-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 400px;

  .info-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    text-transform: uppercase;

    img {
      max-height: 35px;
      max-width: 40px;
      filter: var(--filter-color-icon);
    }
    h1 {
      font-size: 26px;
      font-weight: 400;
      margin-left: 15px;
      letter-spacing: 1px;
    }
  }

  .info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin-bottom: 30px;

    .experience-detail-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      p {
        margin-top: 3px;
      }
      .experience-period {
        text-decoration: underline;
        &.invisible {
          display: none;
        }
      }
      span {
        border-bottom: 4px solid;
        border-color: var(--blue-icon);
      }
    }

    .tech-detail-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0 0 0;
      p {
        margin: 0;
        font-size: 20px;
      }
      img {
        max-height: 30px;
        max-width: 30px;
        filter: var(--filter-color-icon);
      }
    }

    ul {
      list-style: disc;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    p {
      margin-top: 30px;
      line-height: 20px;
      max-width: 180px;
      font-size: 17px;
      letter-spacing: 1px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 300;

      &.last::before {
        content: "";
        width: 40%;
        border: 2px solid;
        border-color: var(--blue-icon);
        margin-bottom: 30px;
      }
    }
  }
}
