@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

:root {
  --font-oswald: "Oswald";
  --dark-blue-bg: #090f20;
  --white-bg: #fff5e7;
  --blue-icon: #1c2c5d;
  --highlight-blue: #33488b;
  --medium-gray: #545454;
  --filter-color-icon: invert(12%) sepia(100%) saturate(1263%)
    hue-rotate(208deg) brightness(86%) contrast(91%);
}
